USE [master]
GO
/****** Object:  Database [Employee]    Script Date: 6/5/2026 1:58:04 PM ******/
CREATE DATABASE [Employee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee', FILENAME = N'D:\SQL server express edition\MSSQL15.SQLEXPRESS\MSSQL\DATA\Employee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employee_log', FILENAME = N'D:\SQL server express edition\MSSQL15.SQLEXPRESS\MSSQL\DATA\Employee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employee]
GO
/****** Object:  User [rahul]    Script Date: 6/5/2026 1:58:04 PM ******/
CREATE USER [rahul] FOR LOGIN [rahul] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CHENGAPPA\cheng]    Script Date: 6/5/2026 1:58:04 PM ******/
CREATE USER [CHENGAPPA\cheng] FOR LOGIN [CHENGAPPA\cheng] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [rahul]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [rahul]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHENGAPPA\cheng]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMaster](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Department_Name] UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignationMaster]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignationMaster](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Designation_Name] UNIQUE NONCLUSTERED 
(
	[DesignationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAuditLog]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAuditLog](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[FieldName] [varchar](20) NULL,
	[OldValue] [varchar](100) NULL,
	[NewValue] [varchar](100) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDocuments]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DocumentType] [varchar](50) NOT NULL,
	[FileName] [varchar](200) NULL,
	[FilePath] [varchar](500) NULL,
	[UploadedOn] [datetime] NULL,
	[UploadedBy] [int] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMaster](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NULL,
	[Email] [varchar](150) NOT NULL,
	[MobileNumber] [varchar](10) NOT NULL,
	[JoiningDate] [date] NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [varchar](20) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [varchar](20) NULL,
	[UpdatedOn] [datetime] NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[DesignationId] [int] NOT NULL,
	[ReportingManagerId] [int] NULL,
 CONSTRAINT [PK_EmployeeMaster] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Employee_Code] UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Employee_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Employee_Mobile] UNIQUE NONCLUSTERED 
(
	[MobileNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Employee_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmployeeMaster_Code] UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRoleMapping]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRoleMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmployeeRole] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuMaster]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuMaster](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [varchar](100) NULL,
	[MenuUrl] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IconClass] [varchar](50) NULL,
	[MenuGroup] [varchar](50) NULL,
	[ParentMenuId] [int] NULL,
	[MenuOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Token] [varchar](200) NOT NULL,
	[Expiry] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenuMapping]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[MenuId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RoleMenu] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Department_Name]    Script Date: 6/5/2026 1:58:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Department_Name] ON [dbo].[DepartmentMaster]
(
	[DepartmentName] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Designation_Name]    Script Date: 6/5/2026 1:58:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Designation_Name] ON [dbo].[DesignationMaster]
(
	[DesignationName] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DepartmentMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DepartmentMaster] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DesignationMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DesignationMaster] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EmployeeAuditLog] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[EmployeeDocuments] ADD  DEFAULT (getdate()) FOR [UploadedOn]
GO
ALTER TABLE [dbo].[EmployeeDocuments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EmployeeMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[MenuMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuMaster] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[RoleMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RoleMaster] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EmployeeDocuments]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeMaster] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeMaster]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DepartmentMaster] ([DepartmentId])
GO
ALTER TABLE [dbo].[EmployeeMaster] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[EmployeeMaster]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Designation] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[DesignationMaster] ([DesignationId])
GO
ALTER TABLE [dbo].[EmployeeMaster] CHECK CONSTRAINT [FK_Employee_Designation]
GO
ALTER TABLE [dbo].[EmployeeMaster]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Manager] FOREIGN KEY([ReportingManagerId])
REFERENCES [dbo].[EmployeeMaster] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeMaster] CHECK CONSTRAINT [FK_Employee_Manager]
GO
ALTER TABLE [dbo].[EmployeeRoleMapping]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeMaster] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeRoleMapping]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[RoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[RoleMenuMapping]  WITH CHECK ADD FOREIGN KEY([MenuId])
REFERENCES [dbo].[MenuMaster] ([MenuId])
GO
ALTER TABLE [dbo].[RoleMenuMapping]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[RoleMaster] ([RoleId])
GO
/****** Object:  StoredProcedure [dbo].[USP_Department]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Department]
(
    @Type            VARCHAR(50),
    @DepartmentId    INT = NULL,
    @DepartmentName  VARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ================= LIST ================= */
    IF @Type = 'LIST'
    BEGIN
        SELECT
            DepartmentId,
            DepartmentName
        FROM DepartmentMaster
        WHERE IsDeleted = 0;
        RETURN;
    END

    /* ================= INSERT ================= */
    IF @Type = 'INSERT'
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM DepartmentMaster
            WHERE LOWER(DepartmentName) = LOWER(@DepartmentName)
              AND IsDeleted = 0
        )
        BEGIN
            RAISERROR('Department already exists.', 16, 1);
            RETURN;
        END

        INSERT INTO DepartmentMaster
        (
            DepartmentName,
            IsActive,
            IsDeleted
        )
        VALUES
        (
            @DepartmentName,
            1,
            0
        );
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Designation]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Designation]
(
    @Type              VARCHAR(50),
    @DesignationId     INT = NULL,
    @DesignationName   VARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ================= LIST ================= */
    IF @Type = 'LIST'
    BEGIN
        SELECT
            DesignationId,
            DesignationName
        FROM DesignationMaster
        WHERE IsDeleted = 0;
        RETURN;
    END

    /* ================= INSERT ================= */
    IF @Type = 'INSERT'
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM DesignationMaster
            WHERE LOWER(DesignationName) = LOWER(@DesignationName)
              AND IsDeleted = 0
        )
        BEGIN
            RAISERROR('Designation already exists.', 16, 1);
            RETURN;
        END

        INSERT INTO DesignationMaster
        (
            DesignationName,
            IsActive,
            IsDeleted
        )
        VALUES
        (
            @DesignationName,
            1,
            0
        );
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Employee]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Employee]
(
    @Type VARCHAR(50) = '',

    @EmployeeID INT = 0,
    @EmployeeCode VARCHAR(20) = '',
    @FirstName VARCHAR(100) = '',
    @LastName VARCHAR(100) = '',
    @Email VARCHAR(150) = '',
    @MobileNumber VARCHAR(10) = '',

    @DepartmentId INT = 0,
    @DesignationId INT = 0,
    @RoleId INT = 0,

    @JoiningDate DATE = NULL,
    @Status BIT = 1,

    @ReportingManagerId INT = NULL,

    @Username VARCHAR(50) = '',
    @Password VARCHAR(50) = '',

    @FilterBy VARCHAR(50) = '',
    @FilterValue VARCHAR(100) = '',

    @CreatedBy VARCHAR(50) = '',
    @UpdatedBy VARCHAR(50) = ''
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ================= INSERT ================= */
    IF @Type = 'INSERT'
    BEGIN
        DECLARE @NewEmployeeID INT;

        IF EXISTS (
            SELECT 1 FROM EmployeeMaster
            WHERE IsDeleted = 0
            AND (
                EmployeeCode = @EmployeeCode
                OR Email = @Email
                OR MobileNumber = @MobileNumber
                OR Username = @Username
            )
        )
        BEGIN
            ;THROW 50001, 'Employee already exists with same Code/Email/Mobile/Username.', 1;
        END

        INSERT INTO EmployeeMaster
        (
            EmployeeCode, FirstName, LastName, Email, MobileNumber,
            DepartmentId, DesignationId, JoiningDate,
            Status, CreatedBy, CreatedOn,
            Username, Password, IsDeleted, ReportingManagerId
        )
        VALUES
        (
            @EmployeeCode, @FirstName, @LastName, @Email, @MobileNumber,
            @DepartmentId, @DesignationId, @JoiningDate,
            1, @CreatedBy, GETDATE(),
            @Username, @Password, 0, @ReportingManagerId
        );

        SET @NewEmployeeID = SCOPE_IDENTITY();

        INSERT INTO EmployeeRoleMapping (EmployeeId, RoleId)
        VALUES (@NewEmployeeID, @RoleId);

        SELECT @NewEmployeeID AS NewEmployeeID;
    END

    /* ================= LIST ================= */
    ELSE IF @Type = 'LIST'
    BEGIN
        SELECT 
            e.EmployeeID,
            e.EmployeeCode,
            e.FirstName,
            e.LastName,
            (e.FirstName + ' ' + e.LastName) AS EmployeeName,
            e.Email,
            e.MobileNumber,
            e.DepartmentId,
            e.DesignationId,
            d.DepartmentName,
            g.DesignationName,
            r.RoleId,
            r.RoleName,
            e.JoiningDate,
            e.Status,
            e.ReportingManagerId,
            e.CreatedBy,
            e.CreatedOn,
            e.UpdatedBy,
            e.UpdatedOn,
            e.Username,
            e.IsDeleted
        FROM EmployeeMaster e
        LEFT JOIN DepartmentMaster d 
            ON e.DepartmentId = d.DepartmentId AND d.IsDeleted = 0
        LEFT JOIN DesignationMaster g 
            ON e.DesignationId = g.DesignationId AND g.IsDeleted = 0
        LEFT JOIN EmployeeRoleMapping erm 
            ON e.EmployeeID = erm.EmployeeId
        LEFT JOIN RoleMaster r 
            ON erm.RoleId = r.RoleId AND r.IsDeleted = 0
        WHERE 
            (@EmployeeID = 0 OR e.EmployeeID = @EmployeeID)
            AND (@Status = 1 OR e.Status = @Status)
            AND e.IsDeleted = 0
        ORDER BY e.EmployeeID DESC;
    END

    /* ================= GET BY ID ================= */
    ELSE IF @Type = 'GET_BY_ID'
    BEGIN
        SELECT
            e.EmployeeID,
            e.EmployeeCode,
            e.FirstName,
            e.LastName,
            (e.FirstName + ' ' + e.LastName) AS EmployeeName,
            e.Email,
            e.Username,
            e.MobileNumber,

            e.DepartmentId,
            d.DepartmentName,

            e.DesignationId,
            g.DesignationName,

            r.RoleId,
            r.RoleName,

            e.JoiningDate,
            e.Status,
            e.ReportingManagerId,

            e.CreatedBy,
            e.CreatedOn,
            e.UpdatedBy,
            e.UpdatedOn

        FROM EmployeeMaster e

        LEFT JOIN DepartmentMaster d 
            ON e.DepartmentId = d.DepartmentId AND d.IsDeleted = 0

        LEFT JOIN DesignationMaster g 
            ON e.DesignationId = g.DesignationId AND g.IsDeleted = 0

        LEFT JOIN EmployeeRoleMapping erm 
            ON e.EmployeeID = erm.EmployeeId

        LEFT JOIN RoleMaster r 
            ON erm.RoleId = r.RoleId AND r.IsDeleted = 0

        WHERE e.EmployeeID = @EmployeeID
          AND e.IsDeleted = 0;
    END

    /* ================= GET BY EMAIL ================= */
    ELSE IF @Type = 'GET_BY_EMAIL'
    BEGIN
        SELECT 
            e.EmployeeID,
            e.EmployeeCode,
            e.FirstName,
            e.LastName,
            e.Email,
            e.MobileNumber,
            e.DepartmentId,
            e.DesignationId,
            d.DepartmentName,
            g.DesignationName,
            e.JoiningDate,
            e.Status,
            e.Username,
            e.IsDeleted
        FROM EmployeeMaster e
        LEFT JOIN DepartmentMaster d ON e.DepartmentId = d.DepartmentId
        LEFT JOIN DesignationMaster g ON e.DesignationId = g.DesignationId
        WHERE e.Email = @Email
          AND e.IsDeleted = 0;
    END

    /* ================= UPDATE ================= */
    ELSE IF @Type = 'UPDATE'
    BEGIN
        -- ✅ ONLY CHANGE HERE (EmployeeCode normalization added)
        IF EXISTS (
            SELECT 1 
            FROM EmployeeMaster
            WHERE IsDeleted = 0
            AND EmployeeID <> @EmployeeID
            AND (
                UPPER(LTRIM(RTRIM(EmployeeCode))) = UPPER(LTRIM(RTRIM(@EmployeeCode)))
                OR LTRIM(RTRIM(Email)) = LTRIM(RTRIM(@Email))
                OR LTRIM(RTRIM(MobileNumber)) = LTRIM(RTRIM(@MobileNumber))
            )
        )
        BEGIN
            THROW 50002, 'Duplicate employee details found.', 1;
            
        END

        UPDATE EmployeeMaster
        SET
		    EmployeeCode = @EmployeeCode,
            FirstName = @FirstName,
            LastName = @LastName,
            Email = @Email,
            MobileNumber = @MobileNumber,
            DepartmentId = @DepartmentId,
            DesignationId = @DesignationId,
            JoiningDate = @JoiningDate,
            Status = @Status,
            ReportingManagerId = @ReportingManagerId,
            UpdatedBy = @UpdatedBy,
            UpdatedOn = GETDATE()
        WHERE EmployeeID = @EmployeeID;

        
        

        IF EXISTS (SELECT 1 FROM EmployeeRoleMapping WHERE EmployeeId = @EmployeeID)
            UPDATE EmployeeRoleMapping SET RoleId = @RoleId WHERE EmployeeId = @EmployeeID;
        ELSE
            INSERT INTO EmployeeRoleMapping (EmployeeId, RoleId)
            VALUES (@EmployeeID, @RoleId);
    END

    /* ================= DELETE ================= */
    ELSE IF @Type = 'DELETE'
    BEGIN
        UPDATE EmployeeMaster
        SET IsDeleted = 1,
            Status = 0,
            UpdatedBy = @UpdatedBy,
            UpdatedOn = GETDATE()
        WHERE EmployeeID = @EmployeeID;
    END

    /* ================= UPDATE STATUS ================= */
    ELSE IF @Type = 'UPDATE_STATUS'
    BEGIN
        UPDATE EmployeeMaster
        SET Status = @Status,
            UpdatedOn = GETDATE()
        WHERE EmployeeID = @EmployeeID;
    END

    /* ================= LOGIN ================= */
    ELSE IF @Type = 'LOGIN'
    BEGIN
        SELECT 
            E.EmployeeID,
            E.EmployeeCode,
            E.FirstName,
            E.LastName,
            E.Email,
            E.Username,
            R.RoleId,
            R.RoleName
        FROM EmployeeMaster E
        JOIN EmployeeRoleMapping ER ON E.EmployeeID = ER.EmployeeId
        JOIN RoleMaster R ON ER.RoleId = R.RoleId
        WHERE 
            E.Username = @Username COLLATE SQL_Latin1_General_CP1_CS_AS
            AND E.Password = @Password COLLATE SQL_Latin1_General_CP1_CS_AS
            AND E.Status = 1;
    END

    /* ================= FILTER ================= */
    ELSE IF @Type = 'FILTER'
    BEGIN
        SELECT
            E.EmployeeCode,
            CONCAT(E.FirstName, ' ', E.LastName) AS EmployeeName,
            E.Email,
            E.MobileNumber,
            D.DepartmentName,
            G.DesignationName,
            R.RoleId,
            R.RoleName,
            E.JoiningDate,
            E.Status
        FROM EmployeeMaster E
        INNER JOIN DepartmentMaster D ON E.DepartmentID = D.DepartmentID
        INNER JOIN DesignationMaster G ON E.DesignationID = G.DesignationID
        LEFT JOIN EmployeeRoleMapping ER ON E.EmployeeID = ER.EmployeeId
        LEFT JOIN RoleMaster R ON ER.RoleId = R.RoleId
        WHERE
            E.IsDeleted = 0
            AND (
                (@FilterBy = 'EmployeeID' AND CAST(E.EmployeeID AS VARCHAR) = @FilterValue)
                OR (@FilterBy = 'EmployeeCode' AND E.EmployeeCode LIKE '%' + @FilterValue + '%')
                OR (@FilterBy = 'Name' AND (E.FirstName + ' ' + E.LastName) LIKE '%' + @FilterValue + '%')
                OR (@FilterBy = 'Department' AND D.DepartmentName LIKE '%' + @FilterValue + '%')
                OR (@FilterBy = 'Role' AND R.RoleName LIKE '%' + @FilterValue + '%')
            );
    END

    /* ================= DASHBOARD ================= */
    ELSE IF @Type = 'DASHBOARD'
    BEGIN
        SELECT 
            COUNT(*) AS TotalEmployees,
            SUM(CASE 
                WHEN MONTH(JoiningDate) = MONTH(GETDATE()) 
                 AND YEAR(JoiningDate) = YEAR(GETDATE())
                THEN 1 ELSE 0 END) AS NewJoiners
        FROM EmployeeMaster
        WHERE IsDeleted = 0;
    END

    /* ================= SAFETY ================= */
    ELSE
    BEGIN
        ;THROW 50099, 'Invalid @Type passed to USP_Employee', 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EmployeeAudit_Insert]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_EmployeeAudit_Insert]
(
    @EmployeeID INT,
    @FieldName VARCHAR(20),
    @OldValue VARCHAR(100),
    @NewValue VARCHAR(100),
    @UpdatedBy VARCHAR(50)
)
AS
BEGIN
    INSERT INTO EmployeeAuditLog
    (EmployeeID, FieldName, OldValue, NewValue, UpdatedBy)
    VALUES
    (@EmployeeID, @FieldName, @OldValue, @NewValue, @UpdatedBy)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EmployeeDocuments]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_EmployeeDocuments]
(
    @Type VARCHAR(20),
    @EmployeeId INT,
	@DocumentId INT = NULL,
    @DocumentType VARCHAR(50) = NULL,
    @FileName VARCHAR(200) = NULL,
    @FilePath VARCHAR(500) = NULL
)
AS
BEGIN

    IF @Type = 'INSERT'
    BEGIN
        INSERT INTO EmployeeDocuments
        (
		    
            EmployeeId,
            DocumentType,
            FileName,
            FilePath
        )
        VALUES
        (
		    
            @EmployeeId,
            @DocumentType,
            @FileName,
            @FilePath
        )
    END


    IF @Type = 'GET'
    BEGIN
        SELECT *
        FROM EmployeeDocuments
        WHERE EmployeeId = @EmployeeId
        AND IsDeleted = 0
    END

	IF @Type = 'DELETE'
	BEGIN
	    UPDATE EmployeeDocuments
	    SET IsDeleted = 1
	    WHERE DocumentId = @DocumentId
    END

END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetEmailFromToken]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetEmailFromToken]
    @Token VARCHAR(200)
AS
BEGIN
    SELECT Email
    FROM PasswordResetTokens
    WHERE Token = @Token
      AND IsUsed = 0
      AND Expiry > GETDATE();
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Menu]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Menu]
(
    @Type VARCHAR(50),
    @RoleId INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- ========== LIST ==========
    IF @Type = 'LIST'
    BEGIN
        SELECT 
            MenuId, 
            MenuName, 
            MenuUrl, 
            IconClass, 
            MenuGroup,
            ParentMenuId,
            MenuOrder
        FROM MenuMaster
        WHERE IsActive = 1 
        AND IsDeleted = 0
        ORDER BY 
            ISNULL(ParentMenuId, MenuId),
            MenuOrder;

        RETURN;
    END

    -- ========== GET BY ROLE ==========
    IF @Type = 'GET_BY_ROLE'
    BEGIN
        SELECT 
            m.MenuId,
            m.MenuName,
            m.MenuUrl,
            m.IconClass,
            m.MenuGroup,
            m.ParentMenuId,
            m.MenuOrder
        FROM RoleMenuMapping rm
        INNER JOIN MenuMaster m 
            ON rm.MenuId = m.MenuId
        WHERE rm.RoleId = @RoleId
        AND m.IsActive = 1
        AND m.IsDeleted = 0
        ORDER BY 
            ISNULL(m.ParentMenuId, m.MenuId),
            m.MenuOrder;

        RETURN;
    END

    RAISERROR('Invalid @Type for USP_Menu', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ResetPassword]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_ResetPassword]
    @Email VARCHAR(150),
    @Password VARCHAR(50)
AS
BEGIN
    UPDATE EmployeeMaster
    SET Password = @Password,
        UpdatedOn = GETDATE()
    WHERE Email = @Email
      AND IsDeleted = 0;

    SELECT @@ROWCOUNT; -- return number of rows affected
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Role]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Role]
(
    @Type VARCHAR(50),

    @RoleId INT = NULL,
    @RoleName NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- ================= LIST =================
    IF @Type = 'LIST'
    BEGIN
        SELECT RoleId, RoleName, IsActive
        FROM RoleMaster;
        RETURN;
    END

    -- ================= INSERT =================
    IF @Type = 'INSERT'
    BEGIN
        IF EXISTS (
            SELECT 1 FROM RoleMaster WHERE RoleName = @RoleName
        )
        BEGIN
            RAISERROR('Role already exists', 16, 1);
            RETURN;
        END

        INSERT INTO RoleMaster (RoleName, IsActive)
        VALUES (@RoleName, 1);

        RETURN;
    END

    RAISERROR('Invalid @Type for USP_Role', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RoleMenu]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RoleMenu]
(
    @Type VARCHAR(50),
    @RoleId INT,
    @MenuId INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- ========== GET BY ROLE ==========
    IF @Type = 'GET_BY_ROLE'
    BEGIN
        SELECT 
            m.MenuId,
            m.MenuName,
            m.MenuUrl,
            m.IconClass,
            m.MenuGroup,
            m.ParentMenuId,
            m.MenuOrder
        FROM RoleMenuMapping rm
        INNER JOIN MenuMaster m 
            ON rm.MenuId = m.MenuId
        WHERE rm.RoleId = @RoleId
        AND m.IsDeleted = 0
        ORDER BY 
            ISNULL(m.ParentMenuId, m.MenuId),
            m.MenuOrder;

        RETURN;
    END

    -- ========== DELETE BY ROLE ==========
    IF @Type = 'DELETE_BY_ROLE'
    BEGIN
        DELETE FROM RoleMenuMapping
        WHERE RoleId = @RoleId;

        RETURN;
    END

    -- ========== INSERT ==========
    IF @Type = 'INSERT'
    BEGIN
        INSERT INTO RoleMenuMapping (RoleId, MenuId)
        VALUES (@RoleId, @MenuId);

        RETURN;
    END

    RAISERROR('Invalid @Type for USP_RoleMenu', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SavePasswordResetToken]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SavePasswordResetToken]
    @Email VARCHAR(100),
    @Token VARCHAR(200),
    @Expiry DATETIME
AS
BEGIN
    INSERT INTO PasswordResetTokens (Email, Token, Expiry, IsUsed)
    VALUES (@Email, @Token, @Expiry, 0);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ValidateResetToken]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ValidateResetToken]
    @Token VARCHAR(200)
AS
BEGIN
    SELECT CASE WHEN EXISTS(
        SELECT 1 FROM PasswordResetTokens
        WHERE Token = @Token
          AND IsUsed = 0
          AND Expiry > GETDATE()
    ) THEN 1 ELSE 0 END;
END
GO
/****** Object:  DdlTrigger [trg_BlockDropEmployeeMaster]    Script Date: 6/5/2026 1:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [trg_BlockDropEmployeeMaster]
ON DATABASE
FOR DROP_TABLE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EventData XML = EVENTDATA();

    DECLARE @ObjectName NVARCHAR(256) =
        @EventData.value('(/EVENT_INSTANCE/ObjectName)[1]', 'NVARCHAR(256)');

    IF @ObjectName = 'EmployeeMaster'
    BEGIN
        RAISERROR('Dropping EmployeeMaster table is not allowed!', 16, 1);
        ROLLBACK;
    END
END;
GO
ENABLE TRIGGER [trg_BlockDropEmployeeMaster] ON DATABASE
GO
USE [master]
GO
