@{
    Layout = "_LayoutDashboard";
}

<div class="container mt-4">

    
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2 class="mb-4">Change Password</h2>

            <div class="card shadow-sm p-4">

                <form asp-controller="Profile" asp-action="ChangePassword" method="post">

                    <div class="mb-3">
                        <label class="form-label">Old Password</label>
                        <input type="password" name="oldPassword" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">New Password</label>

                        <input type="password"
                               name="newPassword"
                               class="form-control"
                               required
                               placeholder="Enter strong password" />

                        <small class="text-muted">
                            Password must contain:
                        </small>

                        <ul class="text-muted mb-0">
                            <li>Minimum 8 characters</li>
                            <li>1 uppercase letter</li>
                            <li>1 lowercase letter</li>
                            <li>1 number</li>
                            <li>1 special character</li>
                        </ul>

                    </div>

                    <button class="btn btn-success" type="submit">Update Password</button>
                    <a class="btn btn-secondary ms-2" asp-controller="Home" asp-action="Dashboard">Cancel</a>

                </form>

                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger mt-3">@ViewBag.Message</div>
                }

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger mt-3">@ViewBag.Error</div>
                }

            </div>

        </div>
    </div>
    

</div>
